<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- FONTS HERE -->
  </head>
  <body>
    <main>
      <article>
        <picture>
          <!-- change image with source -->
          <source media="(min-width:600px )" srcset="" />
          <img src="" alt="" />
        </picture>
        <div class="">
          <p></p>
          <h1></h1>
          <p></p>
          <div class="">
            <p></p>
            <p></p>
          </div>
          <button></button>
        </div>
      </article>
    </main>
  </body>
</html>
